{% extends 'Educapedia/Base_Subjects.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse font-weight-bold ml-1" style="font-size: 20px;" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Edu-Home' %}">Educapedia<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Edu-Dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Edu-OurSubjects' %}">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Edu-Profile' %}">{{user.username}}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Edu-Logout' %}">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item " target="_blank" href="#">WhatsApp<i class="fa fa-whatsapp ml-2" style="font-size:24px;"></i></a>
          <a class="dropdown-item " target="_blank" href="#">Facebook<i class="fa fa-facebook ml-2"></i></a>
          <a class="dropdown-item " target="_blank" href="#">Gmail<i class="fa fa-google ml-3"></i></a>
        </div>
      </li>
    </ul>
  </div>
</nav>
      <br><br>
      <div class="container">
        <h1 class="display-1 font-weight-bold font-italic mt-5 animate__animated animate__backInDown text-center text-white" style="font-size: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Dont Lose Momentum!!</h1>
        <div class="rounded-lg p-4 my-5" style="background-color: rgba(0, 0, 0, 0.4);">
          <h2 class="display-3 font-weight-bold text-white" style="font-size: 30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">My Subjects</h2>
          {% for enrollment in enrollments %}
          <div class="card mb-3 animate__animated animate__backInLeft">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img class="card-img" src="{{ enrollment.course.picture.url }}" alt="Card image cap">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ enrollment.course.name }}</h5>
                  <p class="card-text">{{ enrollment.course.description }}</p>
                  {% if enrollment.completed %}
                  <p class="card-text text-success">Completed</p>
                  {% else %}
                  <p class="card-text text-warning">In progress</p>
                  {% endif %}
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'Edu-Video' enrollment.course.name %}" class="btn btn-sm btn-outline-secondary btn-block">Continue</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
{% endblock content %} 