{% extends 'Educapedia/Base_Login_Registeration.html' %}
{% load static %}
{% block content %}
  <div class="Login" >
    <h2>Login</h2>
    <form method = "POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter Username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter Password" required>
      <br>
      <input type="submit" value="Login">
    </form>

    <div class="Remember_me_button">
      <label class="checkbox" style="font-size: 15px; margin-top: 5%;">Remember Me
      <input type="checkbox" checked="">
      <span class="checkmark"></span>
      </label>
      </div>
      <div class="forget_button">
      <a href={% url 'Edu-ForgetPassword' %}> Forgot Password ? </a>
      </div>

      <p>Don't have an account? <a href={% url 'Edu-Register' %}>Register here</a>.</p>
  </div>
  <br><br><br><br>
{% endblock content %}
