{% extends 'Educapedia/Base_Subjects.html' %}
{% load static %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse font-weight-bold ml-1" style="font-size: 20px;" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Edu-Home' %}">Educapedia<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Edu-Dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'Edu-OurSubjects' %}">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Edu-Profile' %}">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Edu-Logout' %}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    
    <script src="{% static 'Educapedia/QuickAccess.js' %}"></script>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-12">
          <h1 class="display-1 font-weight-bold font-italic mt-5 text-center text-white" style="font-size: 30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Our Subjects</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="display-3 mt-3 font-weight-bold text-center text-white" style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Quick Access</h2>
        </div>
      </div>
      <div class="gallery">
        
          <img id="math" src="{% static 'Educapedia/math.jpg'%}" class="img-fluid" onclick="scrollToDiv('Math')" />
        
        
          <img id="science" src="{% static 'Educapedia/Science.png'%}" class="img-fluid" onclick="scrollToDiv('Science')" />
        
          <img id="ict" src="{% static 'Educapedia/ict.png'%}" class="img-fluid" onclick="scrollToDiv('ICT')" />
        
      </div>
      <div class="row">
        <div class="col-12">
          <div class="Instructor animate__animated animate__fadeInDown" id="Instructors">
            <h2 class="display-3 mt-3 font-weight-bold text-center text-white" style="font-size: 30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Meet Our Instructors</h2>
            <br>
            <div class="d-flex justify-content-center" style="margin-left: 1%; margin-right: 2%;">
              <div style="margin-bottom: 2%;">
                <div class="card Instruct mx-auto" style="width: 15rem; opacity: 1; background-color: transparent;">
                  <img src="{% static 'Educapedia/photo1.jpeg'%}" class="card-img-top rounded-circle" alt="..." style="width: 250px; height: 250px;">
                  <div class="card-body">
                    <h5 class="card-title">Instructor 1</h5>
                    <p class="card-text">Teacher at School</p>
                  </div>
                </div>
              </div>
              <div style="margin-bottom: 2%;">
                <div class="card Instruct mx-auto" style="width: 15rem; opacity: 1; background-color: transparent;">
                  <img src="{% static 'Educapedia/photo2.jpeg'%}" class="card-img-top rounded-circle" alt="..." style="width: 250px; height: 250px;">
                  <div class="card-body">
                    <h5 class="card-title">Instructor 2</h5>
                    <p class="card-text">Teacher at School</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br><br>

    <div class="container" id ="Math" style="background-color: rgba(0,0,0,0.3);border-radius: 1%;">
      <div class="row">
        <div class="col-md-12">
          <div class="Math animate__animated animate__fadeInLeft">
            <h2 class="display-3 mt-3 font-weight-bold" style="font-size: 30px;color:White;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Math</h2>
            <br>
            <div class="row">
              {% for course in courses %}
                {% if course.category == "math" %}
                  <div class="col-md-3 mb-3">
                    <div class="card" style="opacity: 0.9;" id="{{ course.name }}">
                      <img src="{{ course.picture.url }}" class="card-img-top" alt="{{ course.name }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">Taught by: {{ course.instructor }}</p>
                        <a href="{% url 'Edu-CourseInfo' course.name %}" class="btn btn-primary btn-block">Details</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <br><br>
          <div class="Science animate__animated animate__fadeInLeft" id="science">
            <h2 class="display-3 mt-3 font-weight-bold" style="font-size: 30px;color:White;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Science</h2>
            <br>
            <div class="row">
              {% for course in courses %}
                {% if course.category == "science" %}
                  <div class="col-md-3 mb-3">
                    <div class="card" style="opacity: 0.9;" id="{{ course.name }}">
                      <img src="{{ course.picture.url }}" class="card-img-top" alt="{{ course.name }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">Taught by: {{ course.instructor }}</p>
                        <a href="{% url 'Edu-CourseInfo' course.name %}" class="btn btn-primary btn-block">Details</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <br><br>
      
          <div class="ICT animate__animated animate__fadeInLeft" id="ict">
            <h2 class="display-3 mt-3 font-weight-bold" style="font-size: 30px;color:White;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ICT</h2>
            <br>
            <div class="row">
              {% for course in courses %}
                {% if course.category == "ict" %}
                  <div class="col-md-3 mb-3">
                    <div class="card" style="opacity: 0.9;" id="{{ course.name }}">
                      <img src="{{ course.picture.url }}" class="card-img-top" alt="{{ course.name }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">Taught by: {{ course.instructor }}</p>
                        <a href="{% url 'Edu-CourseInfo' course.name %}" class="btn btn-primary btn-block">Details</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        
      </div>
      <br><br>
    </div>
  </div>
{% endblock content %}