{% extends "Educapedia/Base_Login_Registeration.html" %}
{% block content %}
<div style = "background-color: rgb(66,66,66,0.2);">
    <h2 class="display-1 font-weight-bold font-italic mt-5 AllTextsBg" style="font-size: 50px ;text-align: center; color:White;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">An Email was sent to you. </h1>
    <h3 class="display-1 font-weight-bold font-italic mt-2 AllTextsBg" style="font-size: 40px ;text-align: center; color:White;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Check inbox or spam</h1>
</div>
{% endblock content %}