{% extends 'Educapedia/Base_Home_Profile.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse font-weight-bold ml-1" style="font-size: 20px;" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Edu-Home' %}">Educapedia<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Edu-Dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Edu-OurSubjects' %}">Subjects</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Edu-Profile' %}">{{user.username}}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Edu-Logout' %}">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item " target="_blank" href="#">WhatsApp<i class="fa fa-whatsapp ml-2" style="font-size:24px;"></i></a>
          <a class="dropdown-item " target="_blank" href="#">Facebook &nbsp;<i class="fa fa-facebook ml-2"></i></a>
          <a class="dropdown-item " target="_blank" href="#">Gmail &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-google ml-3"></i></a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<h1 class="display-1 font-weight-bold font-italic AllTextsBg" style="font-size: 60px ;text-align: center; color:White;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top: 7%;">Welcome {{user.first_name}}</h1>
<form class="ProfileData rcorners1" id="form">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card" style="background-color: rgb(66,66,66,0.2);">
      <div class="card-header lead font-weight-bold formAnimation" style="color: white;font-size: 25px; margin-left: auto;margin-right: auto;">
        User Information &nbsp;&nbsp;
        <input type="submit" class="btn formAnimation lead font-weight-bold" style="background-color: rgb(0, 141, 0); color: white;border-radius: 9px" id = "edit_btn" value="Update">
      </div>
      <div class="card-body" style="background-color:rgb(66,66,66,0.2);">
        <table style="margin-left: auto; margin-right: auto;">
          <colgroup>
            <col span="3" style="height: 100%; width: 100%;">
          </colgroup>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="First Name" class="lead font-weight-bold" style="color: white;">First Name</label>
              </div>
              </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="text" pattern="[a-zA-Z ]+" class="form-control" id="Ex_Name" value={{user.first_name}} required readonly>
                </div>
            </td>
            <td rowspan="5">
              <div class= "mb-5">
                <div class="card" style="background-color: rgb(66,66,66,0);">
                    <div class="card-body card Instruct" style="background-color: rgb(66,66,66,0);">
                      <img id="file-ip-1-preview" src={% static 'Educapedia/user.png' %} alt="" style="width: 7cm; height: 7cm;border-radius: 20cm;" class="ml-5 formAnimation">
                      <div class="card-title">
                        <label for="file-ip-1" class="btn  mt-3 ml-5 formAnimation" style="background-color: rgb(0, 141, 0); color: white;border-radius: 9px" id="labelforImg">Upload</label>
                        <label for="" class="lead" id="Name_Photo"></label>
                        <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" style="opacity: 0;"disabled>
                      </div>  
                    </div>
                  </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="Last Name" class="lead font-weight-bold" style="color: white;">Last Name</label>
              </div>
              </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="text" pattern="[a-zA-Z ]+" class="form-control" id="Ex_Name" value={{user.last_name}} required readonly>
                </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="Phone_Number" class="lead font-weight-bold" style="color: white;">Phone Number</label>
              </div>
              </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="tel" class="form-control" id="Ex_Number" pattern="[0-9]+" value="01234567891" readonly>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="Parent_Phone_Number" class="lead font-weight-bold" style="color: white;">Parent Number</label>
              </div>
              </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="tel" class="form-control" id="Ex_Parent_Number" pattern="[0-9]+" value="01234567891" readonly>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group  formAnimation">
              <label for="exampleInputEmail1" class="lead font-weight-bold" style="color: white;">Email</label>
              </div>
            </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="email" class="form-control" id="Ex_Email" aria-describedby="emailHelp" value="{{user.email}}" required readonly>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>        </div>
            </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="exampleInputPassword1" class="lead font-weight-bold" style="color: white;">Password</label>
              </div>
            </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="password" class="form-control" id="Ex_Password" value="HiddenMessage" required readonly>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="School" class="lead font-weight-bold" style="color: white;">School Name</label>
              </div>
            </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="text" pattern="[a-zA-Z ]+" class="form-control" id="School" value="ExSchool" readonly>
                <small id="SchoolHelp" class="form-text text-muted">Optional</small> 
            </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="Address" class="lead font-weight-bold" style="color: white;">Address</label>
              </div>
            </td>
            <td>
              <div class="formProfileMargin formAnimation">
                <input type="text" class="form-control" id="Ex_Address" value="-" readonly>
                <small id="AddressHelp" class="form-text text-muted">Optional</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group formAnimation">
                <label for="Gender" class="lead font-weight-bold" style="color: white;">Gender</label>
            </td>
            <td>
              <div class="form-group formAnimation">
                <select class="custom-select" id="Gender" disabled>
                  <option value="NS">Not Selected</option>
                  <option value="Male">Male</option>
                  <option value="FeMale">Female</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
      </div>
  </div>
</form>

{% endblock content %}

 