{% extends 'Educapedia/Base_Login_Registeration.html' %}
{% load static %}
{% block content %}
<div class="Registration" id="register">
  <h2>Register</h2>
  <form method = 'POST'>
    {% csrf_token %}
    <div style = "color:white;">
      {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <div class="alert alert-danger">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
    </div>
    
    <input type="submit" value="Register"> 
  </form>
  <p>Already have an account? <a href={% url 'Edu-Login' %}>Login here</a>.</p>

</div>

<br><br><br><br>

{% endblock content %}

