/* Define darkred color */
.bg-darkred {
    background-color: #110707c0 ;
  }
body {
  min-height: 100vh;
}
  
footer{
  position: sticky;
  top: 100%;
}
  @media (max-width: 767px) {
    footer {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .btn-floating {
      font-size: 24px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 10px;
    }
  
    .text-lg-left {
      text-align: left ;
    }
  
    .mb-4 {
      margin-bottom: 1.5rem ;
    }
  
    .p-3 {
      padding: 1rem ;
    }
  
    .text-center {
      text-align: center ;
    }
  }
  